<p id="notice"><%= notice %></p>

<p>
  <strong>Celciusreading:</strong>
  <%= @temperature_reading.CelciusReading %>
</p>

<%= link_to 'Edit', edit_temperature_reading_path(@temperature_reading) %> |
<%= link_to 'Back', temperature_readings_path %>
