<h1>Summary</h1>
<div id="temperatureGauge"></div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<p>
<%= line_chart summary_data_path(:dataRange => @dataRange), id: "Temperature-Chart" %>
</p>
